<?php
global $config_remote;
$config_remote=array(
'SEARCH_API_URI'=>'http://219.143.244.244:8888/gemantic/search.do',
'SEARCH_SIMILER_API_URI'=>'http://192.168.10.80:9999/gemantic/dup.do',
'JSP_CACHE_URI'=>'http://219.143.244.246:8080/workflow/cache.jsp?',
'COMPANY_SEARCH_URL'=>'http://192.168.10.53:8080/service/CompanySearchInfoService',
'LOG_SERVER_URL'=>'http://192.168.10.63/api/postlog',
    'HOT_KW_NEWS_URL'=>'http://192.168.10.114:9084/hot/query.do',
'SMARTY_CACHE'=>false,
'COMPILE_CHECK'=>true,
'SITE_URL'=>'http://searchfe/',
'CACHE_ENABLE'=>true,
'SEARCH_CMS_API'=>'http://192.168.10.80:9999/gemantic/cmssearch.do',
'SEARCH_HIGHLIGHT_URL'=>'http://192.168.10.233:8999/doc_c/search.do',
'SEARCH_URL'=>'http://searchfe.gemantic.com/',
'CMS_URL'=>'http://cms.gemantic.com/',
'SEARCH_CACHE_URL'=>'http://192.168.10.233:8999/doc_c/cache.do',  //documentsever_cache url
'DB_MASTER_NAME'=>array(
'driver' => 'mysql',
'host' => 'localhost',
'login' => 'root',
'password' => 'easy2get',
'database' => 'cms',
'prefix' => 'wp_',
),
'DB_SLAVE_NAME'=>array(
'driver' => 'mysql',
'host' => 'localhost',
'login' => 'root',
'password' => 'easy2get',
'database' => 'cms',
'prefix' => 'wp_',
),
'DB_SW_NAME'=>array(
'driver' => 'mysql',
'host' => 'localhost',
'login' => 'root',
'password' => 'easy2get',
'database' => 'cms',
'prefix' => 'wp_',
),

);


?>
